body {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

button{
   border:none; 
   background: none;
}
ul{
  padding-left:0;
}
i{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

/* nav styling */

.title-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title{
 padding-left: 5px;
 
}

.title-list{
 background-color: #6e1cb198;
  border-top-left-radius: 5px;
    display: flex;
 align-items: center;
 list-style: none;
}
.title-list i {
  padding-right: 15px;
}

.toggle-button:hover{
   border-top-left-radius: 5px;
    background-color: #8626d498;
}

.links{
  position: absolute;
  bottom: 0;
}

.nav{
  position: fixed;
  height: 100%;
  /* background-color: rgb(255, 255, 255); */
  width: 35px;
  border-radius: 5px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  right: 0;
  
  display: flex;
  flex-direction: column;
 
  background-color: #d9e0f0;

}

.nav .nav-label{
  display: none;
}

.nav.active {
   position: fixed;
  height: 100%;
    background-color: #d9e0f0;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  right: 0;
  display: flex;
  flex-direction: column;
   width: 200px;
   align-content: center;
   border-radius: 5px;
 
}

.nav.active .nav-label {
  display: flex;
}


.nav-list{
 margin: 0;
}

.nav-item{
  list-style: none;
  display: flex;
 align-items: center;
 /* padding-top:20px;
 padding-bottom: 20px;
 padding-left: 15px; */
    
} 

.nav-item:hover{
   background-color: #e7ecfa;
}


.nav-item i {
padding-right: 15px;
}

.nav-item a {
  color: inherit;
  text-decoration: none; /* no underline */
  display: flex;
  flex-direction: row;
  
}

/* Play button styling */

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #242d21;
    border: none;
    color: #FFFFFF;
    font-size: 28px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.wrapper {
    text-align: center;
}

/* modal styling */

.modal{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  
}

.info{
  color: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 5px rgba(76, 141, 226, 0.611);
  background-color: rgb(179, 178, 178);
}
.info-header{
  text-align: center;


}


/* * selector and option styling* */
select{
  /* appearance: none; */
  background-color: transparent; 
  border-radius: 5px;
  width: 130px;
  height: 35px;
  outline: none;
  border: none;
  text-indent: 5px;
  
}

select:hover{
  border: 1px solid rgb(117, 117, 117);
   border-radius: 5px;
   /* appearance: s; */ 
}

/* range tag styling */
input[type=range] {
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 110px;
   background-color: transparent; 
}

input[type=range]::-webkit-slider-runnable-track {
  
  height: 2px;
  cursor: pointer;
  
  box-shadow: 1px 1px 1px #000000;
  background: #5a6977;
  border-radius: 5px;
  border: 1px solid #5a6977;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #3b3b3b;
  border: 1px solid #292626;
  height: 10px;
  width: 1px;
  border-radius: 17px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

/* styling input color tag */



